{% extends 'base.html' %}

{% block title %} Главная страница {% endblock %}

 {% block body %}
<h1>Главная страница</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Cupiditate deserunt laborum magnam sunt?</li>
<li>Cum dicta ex fuga odio.</li>
<li>Aspernatur autem impedit optio rem.</li>
<li>Dicta doloribus facere fuga! Placeat.</li>
<li>Aliquam distinctio eveniet tenetur veritatis?</li>
<li>Minus modi officia repellendus tenetur.</li>
<li>Ad assumenda corporis explicabo quae?</li>
<li>Amet architecto nesciunt porro possimus!</li>
<li>Adipisci illum ipsam officia sunt!</li>
<li>Magni quasi quia repellat sed!</li>
<li>Asperiores facilis molestias quia. Aperiam.</li>
<li>Dicta harum nulla soluta voluptates.</li>
<li>Adipisci laudantium modi qui rerum?</li>
<li>Animi dicta ipsa quas similique!</li>
<li>Facere porro quisquam saepe vel.</li>
<li>A ab dolore fugiat ut!</li>
<li>Quam ratione rem similique voluptate!</li>
<li>Assumenda autem cumque veniam vero.</li>
<li>Ad aliquid ducimus odit velit.</li>
<li>Expedita magni natus quasi vel.</li>
<li>Eaque impedit labore quaerat quisquam!</li>
<li>Architecto ea itaque quia reprehenderit.</li>
<li>Accusantium aliquid aut laboriosam molestiae!</li>
<li>Deleniti inventore non omnis quasi.</li>
<li>Aliquam eius omnis porro quidem?</li>
<li>Dignissimos dolorum sapiente sit voluptate.</li>
<li>Blanditiis deserunt ea molestiae officiis!</li>
<li>Enim harum nam neque? Commodi.</li>
<li>Amet expedita labore quaerat quam.</li>
<li>Eveniet facilis odio quae ut.</li>
<li>Excepturi iusto laudantium porro tempore!</li>
<li>Beatae minima quam tempore voluptate?</li>
<li>Dolor esse hic laborum nostrum.</li>
<li>Cum hic nemo quos reiciendis.</li>
<li>Illum inventore ratione saepe veniam.</li>
<li>Et nesciunt odio sint suscipit?</li>
<li>Ea enim laborum mollitia repellat.</li>
<li>Ad at deserunt dolores magnam.</li>
<li>Nihil perspiciatis ratione reprehenderit veritatis.</li>
<li>A excepturi in quos rem?</li>
<li>Atque placeat quisquam quod voluptas.</li>
<li>Atque distinctio excepturi explicabo magni.</li>
<li>Ducimus molestiae quae sunt vitae?</li>
<li>Fugiat illo itaque suscipit voluptas!</li>
<li>Dolor impedit officia sed voluptas?</li>
<li>At esse facere harum libero?</li>
<li>Modi, porro, voluptas? Ab, aliquid.</li>
<li>Atque itaque odio tempore vel.</li>
<li>Dicta dolorum labore optio temporibus.</li>
<li>Facere itaque necessitatibus suscipit tenetur?</li>
<li>Asperiores assumenda dolorem laboriosam voluptatum.</li>
<li>Deserunt dolorem est perspiciatis placeat?</li>
<li>Alias architecto earum et laudantium!</li>
<li>Eius nihil nobis obcaecati optio?</li>
<li>Dolorem explicabo hic quod tempora.</li>
<li>Ea nobis reprehenderit soluta ut!</li>
<li>Corporis ducimus harum illo porro.</li>
<li>Accusamus consequuntur dolorem optio praesentium?</li>
<li>Culpa enim praesentium quia voluptatem!</li>
<li>Explicabo nesciunt pariatur saepe ullam?</li>
<li>Commodi culpa ducimus natus recusandae!</li>
<li>Dignissimos earum id tempore veritatis.</li>
<li>Dicta dolorum molestiae similique vel?</li>
<li>Aliquid, deserunt, nihil? Illo, quo?</li>
<li>Dolore eos eveniet expedita laborum!</li>
<li>Accusamus eaque provident sint vero.</li>
<li>Accusantium laboriosam magni maxime vero!</li>
<li>Molestiae pariatur porro quo. Quibusdam!</li>
<li>Accusantium nobis ullam veniam vero.</li>
{% endblock %}